#background-video
{
    min-height: 415px;
    height: 650px;
    overflow: hidden;
    text-align: center;
    padding: 95px;
}

#background-video video
{
    position: absolute;
    /*top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /*-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);*/
    background: url(polina.jpg) no-repeat;
    background-size: cover;

    right: 0;
    bottom: 0;
}